/BouncingBall.py
/day11(cozort_lizard).py
/day11(lizard).py
/day11(lizard_thing).py
/day12(encryption).py
/day12(self-cipher).py
/day13(game class).py
/day14(game).py
/day15(game_supreme).py
/day16(cozort_studentID_scanner).py
/day16(experimental_game).py
/day16(speaking to computer).py
/day17().py
/day18.py
/day19(eat).py
/day19(elsegame).py
/day19(step2game).py
/day2(first code!).py
/day20(NEW HEIGHTS).py
/day20(platformer).py
/day20(Platformer_Model).py
/day21.py
/day22.py
/day23.py
/day23BouncingBall.py
/day25.py
/day28.py
/day281.py
/day29.py
/day3(blank).py
/day3(confusion).py
/day3(movie list).py
/day3(password failure).py
/day3(working password).py
/day30.py
/day301.py
/day4(and).py
/day4(formatting).py
/day4(not).py
/day4(or).py
/day4(turtle).py
/day6(random-list).py
/day6(randomlist-faulty).py
/day6(test).py
/day6k.py
/day7(rock,paper,scissors) copy.py
/day7(rock,paper,scissors).py
/day8(list-scratch).py
/day9(RPS).py
/game
/Pink Rush.py
/player.png
/Prog
/README
/rectangleBlock.png
/scratch folder cj.py
/wallBackground.jpg